.baslik1{
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin-top: 13px;
    
}

#iconA{
    padding:5px;
    margin-left: 1rem;
    margin:10px;
}

.icon1{
    font-size: 25px;
}


.baslik3{
   padding-left: 1px;
}

.li{
    padding:2rem
}





