.baslik1{
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    margin-top: 1rem;
    
    
}

#iconA{
    margin-left:1rem;
    font-weight: bold;
    padding:5px;
    width:30px;
    height:30px;
    border-radius:15px;
}

.icon1{
    font-size: 20px;
    margin-top: 0.8rem;
}


.baslik3{
   padding-left: 10px;
}

.li{
    padding:2rem
}

.baslik2{
    display: flex;
    font-size: 40px;
    position: relative;
    right:5rem;
    bottom:3rem;
}

.text1{
    padding-left: 1rem;
    font-size:25px ;
    display: inline-block;
    position:relative;
    bottom:6rem
}

.image1{
    position: relative;
    left:1rem;
}














